
<div class="profile">
  <div class= 'profile-head'>
    <h1>My Profile</h1>

    <p><%= current_user.first_name%> <%= current_user.last_name%></p>


  </div>
  <div>
    <% current_user.motorcycles.each do |motorcycle| %>

    <%= render 'motorcycles/card_motorcycle', motorcycle: motorcycle %>
    <% end%>

  </div>




