.card-motorcycle-wrapper {
  padding: 15px;

  a:hover {
    text-decoration: none;
  }
}

.card-motorcycle {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }

  .motorcycle-info-main {
    font-size: 17px;
    font-weight: normal;
    color: #555;

    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .motorcycle-info-secondary {
    font-size: 15px;
    color: #888;
  }

  .motorcycle-price {
    padding-right: 10px;
  }
}

.avatar-container {
  width: 60px;
  height: 60px;

  position: absolute;
  top: 0;
  right: 0;

  padding: 2px;

  background-color: #fff;

  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  img {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    border: 2px solid #fff;
  }
}
