/* CSS CODE FOR STEPS (HOW IT WORKS) */
/* WRAPPER STYLE */
#wrapper-steps {
  background-color: #3c3c3c;

  h2 {
    color: #eee;
  }
}

/* STEP CARD STYLE */
.card-step {
  border-radius: 50%;
  width: 220px;
  height: 220px;

  padding: 10px;

  background-color: #333;
  border: 1px solid #222;

  color: #eee;
  text-align: center;

  position: relative;

  margin: 0 auto;

  h3 {
    font-size: 48px;
    line-height: 50px;
  }

  p {
    padding-top: 25px;
    line-height: 1.3;
  }
}
