<div class="container-fluid" id="container-index">
  <div class="row">
    <div class="col-xs-6">
      <!-- List of motorcycles -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <!-- Filter controls -->
            <p>Filter controls</p>
          </div>
        </div>

        <div class="row">
          <h3>Results</h3>
          <% @motorcycles.each do |motorcycle| %>
            <% if motorcycle.availability %>
              <div class="col-xs-12 col-md-6">
                <!-- Single motorcycle card -->
                <%= link_to motorcycle_path(motorcycle) do %>
                  <div class="card-motorcycle">
                    <%= cl_image_tag(motorcycle.photos[0].path, width: 300, height: 200, crop: :fill) %>
                    <h2 class="motorcycle-name"><%= motorcycle.name %></h2>
                    <h3 class="motorcycle-price"><%= motorcycle.price %></h3>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <!-- Map -->
    </div>
  </div>
</div>
