<%= simple_form_for @review, url: reservation_reviews_path do |f| %>
  <p>Review information</p>
  <%= f.input :content, label: "Content" %>
  <%= f.input :rating, label: "Rating" %>
<%= f.button :submit %>
<% end %>
