
<div class="wrapper" id="wrapper-user-session">
  <div class="full-page-img"></div>
    <div class="container" id="container-user-session">
    <h1>Add Your Review</h1>

    <%= render 'form' %>

    <%= link_to 'Back', profiles_path %>

  </div>
</div>
